* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  width: 100%;
  background-color: #111;
  padding: 2rem;
}

.box {
  width: 150px;
  height: 150px;
  margin-bottom: 1rem;
}

.box-one {
  background-color: red;
}
.box-two {
  background-color: green;
}
.box-three {
  background-color: yellow;
}
.box-four {
  background-color: orange;
}
.box-five {
  background-color: orchid;
}

h1 {
  font-size: 50px;
  color: white;
}
